header {
  display: flex;
  
}
h1 {
  flex-grow: 1;
  text-align: center;
}
section {
  display: flex;
  flex-direction: column;
}
footer {

}
.message {
  color: black;
  padding: 15px;
  gap: 15px;
  border-radius: 15px;

  box-shadow: 0 0 10px black;
  width: 200px;
  margin: 10px;
}
.message.message-sent {
  background-color: rgb(255, 255, 255);
  margin-right: 10%;
  align-self: flex-start;
  border-bottom-left-radius: 0;
}
.message.message-received {
  background-color: #81c43f;
  margin-left: 10%;
  border-bottom-right-radius: 0;
  align-self: flex-end;
}
